.container {
  box-shadow: 2px 2px 2px 2px rgba(9, 9, 9, 0.23);
  padding: 5rem;
  margin: 1rem;
  display: flex;
}
.technologyContainer {
  margin-left: 30%;
}
#reactLogo {
  width: 125px;
  height: 125px;
}
#htmlLogo {
  width: 250px;
  height: 125px;
  padding-left: 1rem;
}
